@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  background-color: ghostwhite;
}

  img {
    display: block;
  }

  p {
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 1600px;
    margin: 0 auto;
    margin-top: 120px;
  }

  .search-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    padding-top: 30px;
    padding-bottom: 30px;
  
    background: linear-gradient(to top,#ffd700, #0057b8 );
    box-shadow: 1px 1px 1px 1px rgba(0, 4, 56, 0.5);
  }
  
  .search-form__input {
    padding: 15px;
    width: 250px;
    height: 40px;
    outline: none;
    border: none;
   border-radius: 10px;
   margin-right: 10px;
  
  }
  
  .search-form__button {
    width: 100px;
    height: 40px;
  border-radius: 10px;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: beige;
      font-weight: 600;
    }
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
  }
  
  .photo-card {
    width: 300px;
    margin: 10px;
    border: solid 1px black;
    border-radius: 3px;
  }
  
  .photo-img {
   height: 250px;
    width: 100%;
    object-fit: cover;

  }
  
  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
   padding: 10px;
   flex-direction: column;
   color: darkolivegreen;
  }
  
  .end-text {
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 70px;
    text-align: center;
    font-size: 25px;
    color: darkblue;
  
    &.is-hidden {
      display: none;
    }
  }

  .load-more {

    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
  
    width: 200px;
    height: 40px;
  
    font-size: 17px;
    font-weight: 500;
  
   border-radius: 10px;
  
    cursor: pointer;
    transition: font-weight 250ms linear, color 250ms linear, background-color 250ms linear;
    &:hover {
      border: solid 1px brown;
      background-color: beige;
      font-weight: 700;
    }
    &.is-hidden {
      display: none;
    }
  }